body { background: #a40735; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 29px; display: flex; }
.block-email-0 { color: #c02186; font-size: 15px; margin-bottom: 5px; }
.block-logger-1 { color: #f1d80c; font-size: 21px; margin-bottom: 5px; }
.block-email-2 { color: #3f1a23; font-size: 18px; margin-bottom: 5px; }
.block-auth-3 { color: #8970eb; font-size: 12px; margin-bottom: 5px; }
.block-helper-4 { color: #972047; font-size: 20px; margin-bottom: 5px; }